body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
    background-color: #009dff;
}
html {
    width: 100%;
    height: max-content;
}
h1 {
    font-size: 50px;    
}
h3 {
    margin: 5px;
    color: black;
}
.title{
    margin: 10px;
    padding-bottom: 40px;
}
.caja {
    border-color: black;
    margin: 10px;
    padding-top: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: max-content;
    background-color: #f2ece7;
}
.button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 5px;
}
.button1{
    border-color: rgb(54, 30, 159);
    border-radius: 5px;
    color: white;
    background-color: #40139a;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.navigation {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}
.exp {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: row;
    width: 80vw;
}